button#fullscreen-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    border: none;
    outline: none;
    background-color: transparent;
    transition: transform 0.2s ease;
}

button#fullscreen-toggle:hover {
    transform: scale(1.2);
}

button#fullscreen-toggle > svg {
    width: 24px;
    height: 24px;
}